.container {
  display: flex;
  background-color: #333333;
  color: #fff;
  justify-content: center;
  padding: 10px;

}
.button-container {
  display: flex;
  justify-content: center;
}
.btn-class {
  margin: 4px;
  width: 50px;
  padding: 4px;
}
.start-btn {
background-color: green;
color: white;
}
.pause-btn {
background-color: blue ;
color: white;
}
.reset-btn {
background-color: red;
color: white;
}

